.list {
  color: black;

  text-align: center;

  padding-top: 50px;

  h3 {
    margin-left: 70px;
    color: white;
    text-align: left;

  }
}

.exchangeListMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;

  height: 150px;

  overflow-y: scroll;

  padding-left: 50px;
  padding-right: 50px;

  -webkit-mask-image: linear-gradient(to bottom,
      transparent,
      black 10%,
      black 90%,
      transparent);
  mask-image: linear-gradient(to bottom,
      transparent,
      black 10%,
      black 90%,
      transparent);
}

.exchangeListMain::-webkit-scrollbar {
  display: none;
}

.exchangeListBox {
  text-align: center;
  color: rgb(0, 0, 0);

  width: auto;
  height: 150px;

  background-color: #eeeeee;
  border-radius: 5%;

  box-shadow: 0px 0px 5px 3px rgb(53, 52, 52);
  h2 {
    margin-top: 15%;
    height: 30px;
  }
  p {
    font-size: 25px;
  }
}

.exchangeListBox:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}