.list {
  background-color: navy;
  color: white;

  text-align: center;

  padding-top: 25px;
}

.exchangeListMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;

  padding: 50px;
}

.exchangeListBox {
  text-align: center;
  color: navy;

  width: auto;
  height: 200px;

  background-color: white;

  border: 3px solid navy;
  border-radius: 5%;

  h2 {
    margin-top: 15%;
    height: 30px;
  }

  p {
    font-size: 25px;
  }
}

.exchangeListBox:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
