.list {
  color: black;

  text-align: center;

  padding-top: 50px;
}

.exchangeListMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 15px;

  height: 210px;

  overflow-y: scroll;

  padding-left: 50px;
  padding-right: 50px;

  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
}

.exchangeListMain::-webkit-scrollbar {
  display: none;
}

.exchangeListBox {
  text-align: center;
  color: navy;

  width: auto;
  height: 200px;

  background-color: #eeeeee;

  border: 3px solid navy;
  border-radius: 5%;

  box-shadow: 0px 0px 5px 3px gray;

  h2 {
    margin-top: 15%;
    height: 30px;
  }

  p {
    font-size: 25px;
  }
}

.exchangeListBox:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
}
