.layout {
    width: 100%;
    display: flex;
    height: 100vh;
}

.left {
    width: 80%;
    background-color: #1b243e;
}

.right {
    width: 20%;
    position: sticky;
    top: 0;
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 5%;
}
.right img {
    width: 50%;
    height: auto;
    margin-bottom: 5%;
}
.profile-div img {
    margin-bottom: 5%;
    width: 50%;
    height: 50%;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.Msub-div {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input {
    height: 44px;
    margin-bottom: 14px;
    padding: 0 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    height: 35px;
    background-color: #1b243e;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom:10px;
}

p {
    font-size: 15px;
}

.profile-div {
    padding: 0 16px;
}



.Logined-profile img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.Logined-profile p {
    font-weight: bolder;
    font-size: 20px;
}

.Login-div form input {
    width: 100;
}

.gap {
    margin-top: 100px;
    margin-bottom: 10px;
}